.Header {
  display: flex;
  align-items: center;
  background: #013F5C;
  padding: 10px 20px;
  font-family: 'Segoe UI','Helvetica Neue', Arial, sans-serif;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  margin:0;
}

.logo {
  width: 125px;
  height: auto;
}
